<section class="filters" [formGroup]="form">
    <label>
        Sort by:
        <select formControlName="sortBy">
            <option *ngFor="let option of sortingOptions" [value]="option.value">{{ option.label }}</option>
        </select>
    </label>

    <label>
        Search name:
        <input type="text" formControlName="query" />
    </label>

    <label>
        Filter country:
        <select formControlName="country">
            <option *ngFor="let country of countries$ | async" [value]="country">{{ country }}</option>
        </select>
    </label>

    <label
        >Per page:
        <select formControlName="perPage">
            <option *ngFor="let option of [5, 10, 15, 50]" [value]="option">{{ option }}</option>
        </select>
    </label>
</section>
<section class="add">
    <button (click)="add()">Add Company</button>
</section>
<ng-container *ngIf="companies$ | async as companies">
    <section class="list">
        <div class="list-item" *ngFor="let company of companies.data">
            {{ company | json }}
            <button (click)="modify(company.id)">Modify</button>
        </div>
    </section>
    <app-pagination-nav [paginatorRef]="paginator" [controls]="companies.pageControls"></app-pagination-nav>
</ng-container>
