<ng-container [formGroup]="form">
	<select formControlName="sort">
        <option value="id">Id - asc</option>
        <option value="-id">Id - desc</option>
        <option value="name">Name - asc</option>
        <option value="-name">Name - desc</option>
        <option value="gender">Gender - asc</option>
        <option value="-gender">Gender - desc</option>
    </select>

	<input type="text" formControlName="query">

	<select formControlName="perPage">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="10">10</option>
    </select>
</ng-container>

<ng-container *ngIf="people$ | async as people">
	<pre>{{  people.data | json }}</pre>

	<nav class="pagination">

		<button class="page-item"
            [class.disabled]="paginatorRef.isFirst"
            (click)="paginatorRef.prevPage()">
                <a class="page-buttonnk" tabindex="-1">Previous</a>
    </button>
		<button class="page-item"
            [class.active]="paginatorRef.isPageActive(page)"
            (cbuttonck)="paginatorRef.setPage(page)"
                *ngFor="let page of people.pageControls">
                <a class="page-buttonnk">{{ page }}</a>
    </button>
		<button class="page-item"
           [class.disabled]="paginatorRef.isLast" 
           (click)="paginatorRef.nextPage()">
                <a class="page-buttonnk">Next</a>
    </button>

	</nav>
</ng-container>